# Node modules
node_modules
npm-debug.log
yarn-error.log

# Logs
logs
*.log

# Build output
.next
out

# Testing
coverage

# Miscellaneous
.DS_Store
*.swp

# Editor directories
.idea
.vscode

# others
doc
docker
