## Environment variables for the application on browser
NEXT_PUBLIC_APPLICATION_NAME="Caronte Auth"
NEXT_PUBLIC_COMPANY_NAME="Byteflow Sivar"
NEXT_PUBLIC_API_URL="http://localhost:3000"

## Environment variables for the application on server
API_URL="http://localhost:3000"

## Configuration for Keycloak
KEYCLOAK_CLIENT_ID="caronte-auth"
KEYCLOAK_CLIENT_SECRET=""
KEYCLOAK_ISSUER="https://dev-auth.victorcornejo.com/realms/byteflow"

## Next Auth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="ZUz2kPff2NRIu00oIiRXky9x2QeI/5lrxP04bGHLlQ8=" # Cambiar cuando se coloque en produccion

## Ambiente de producción ó desarrollo
NODE_ENV="development"